/* estilo-geral */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1b0921;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font: weight 600px;
  color: #e7daecad;
  background-color: #441752;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
}

h2.titulo {
  color: #e7daec;
  font-size: 40px;
  text-align: center;
}

h2.titulo span {
  color: #9c72ad;
}

.btn-social button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #69237e;
  transform: scale(1.05);
}

/* estilo-cabecalho */

header {
  padding: 40px 4%;
}

img#logo {
  width: 100px;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header a {
  color: #897c80;
  text-decoration: none;
  display: inline-block;
  transition: 1s;
}

header nav.menu-desktop a:hover {
  color: #8174a0;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}
header nav.menu-desktop .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* estilo-menuhamb */

.btn-abrir-menu i {
  color: #9c72ad;
  font-size: 40px;
  cursor: pointer;
}

.menu-mobile {
  background-color: #9c72ad;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 666666;
  width: 0%;
  overflow: hidden;
  transition: 1s;
}

.menu-mobile.abrir-menu {
  width: 50%;
}

.menu-mobile.btn-abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile .btn-fechar {
  padding: 20px 8%;
}

.menu-mobile .btn-fechar {
  color: #e7daec;
  font-size: 30px;
  cursor: pointer;
}

.menu-mobile nav ul {
  text-align: right;
}

.menu-mobile nav ul li a {
  color: #e7daec;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover {
  background-color: #441752;
}

.btn-contato button:hover {
  box-shadow: 0px 0px 8px #69237e;
  transform: scale(1.05);
}

.overlay-menu {
  background-color: #1b0921d2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 444444;
  display: none;
}

/* estilo-topo-site */

section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

section.txt-topo-do-site {
  display: block;
  flex-direction: column;
  align-items: flex-start;
}

.topo-do-site h1 {
  color: #e7daec;
  font-size: 40px;
  line-height: 50px;
}

.topo-do-site .txt-topo-site h1 span {
  color: #9c72ad;
}

.topo-do-site .txt-topo-site p span {
  color: #9c72ad;
}

.topo-do-site .txt-topo-site p a {
  color: #9c72ad;
  text-decoration: none;
}

.topo-do-site .txt-topo-site p {
  color: #e7daecc3;
  margin: 30px 0;
}

img#fotoeu {
  width: 300px;
  border-radius: 800px;
  margin-right: 40px;
  box-shadow: 0 0 40px 10px #33113e7d;
}

.btn-social button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  background-color: #441752;
  font-size: 18px;
  color: #a888b5;
  cursor: pointer;
  margin: 10px 8px;
  transition: 1s;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* estilo-especialidades */

section.especialidades {
  padding: 40px 4%;
}

section.especialidades .flex {
  gap: 60px;
}

.especialidades .especialidades-box {
  color: #e7daec;
  padding: 40px;
  border-radius: 20px;
  border: 2px solid #ece5da3d;
  margin-top: 30px;
  transition: 1s;
}
.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #e7daec6c;
}
.especialidades .especialidades-box i {
  font-size: 50px;
  color: #a888b5;
}

.especialidades .especialidades-box h3 {
  font-size: 25px;
  margin: 15px 0;
}

/* estilo-portfolio */

section.portfolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #230c2bc2;
}

section.portfolio .flex {
  gap: 20px;
  justify-content: space-around;
  margin-top: 60px;
}

section.portfolio .overlay a{
  text-decoration: none;
  color: #9c72adfd;
}

.img-port {
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: 100% 0%;
  cursor: pointer;
  border-radius: 40px;
  transition: 8s;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
  transform: scale(1.05);
  box-shadow: 0 0 10px #e7daec6c;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b0921e9;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: #8174a0;
  opacity: 0;
  transition: 1.5s;
}

.overlay:hover {
  opacity: 1;
}

/* estilo-formulario */

section.formulario {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  background-color: #3b14483b;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 10px;
  color: #9c72ad;
  font-size: 18px;
}

form input::placeholder {
  color: #a888b5;
}

form textarea {
  resize: none;
  max-height: 200px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  color: #a888b5;
  background-color: #441752;
  font-weight: 700;
  cursor: pointer;
  transition: 1s;
}

.formulario .img-topo-formulario img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* estilo-footer */

footer {
  padding: 60px 4%;
  box-shadow: 0 0 40px 10px #230c2bc2;
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

footer .line-footer p i {
  color: #69237e;
  font-size: 18px;
}

.borda {
  border-top: 2px solid #44175292;
}

footer .line-footer p a {
  color: #a888b5;
  text-decoration: none;
}

.footer .logo-footer img {
  position: relative;
  animation: flutuar 4s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 10px;
  }
}

/* responsive */
#btn-menu{
  display: none;
}
@media screen and (max-width: 998px) {
  #btn-menu{
    display: block;
  }
  /* classes gerais */

  .flex {
    flex-direction: column-reverse;
  }

  h2.titulo {
    font-size: 35px;
    line-height: 40px;
  }

  /* cabecalho */

  .menu-desktop,
  .btn-contato {
    display: none;
  }

  img#fotoeu {
    width: 100%;
  }
}

/* topo-site */

section.topo-do-site .flex {
  gap: 40px;
}

section.topo-do-site {
  padding: 20px 8%;
}

.topo-do-site h1 {
  font-size: 30px;
}

.topo-do-site .img-topo-site img {
  width: 100%;
}

/* especialidades */

section.especialidades {
  padding: 20px 8%;
}

/* portfolio */

section.portfolio {
  padding: 80px 8%;
}

.img-port {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

section.portfolio .flex {
  gap: 60px;
}

/* formulario */

section.formulario {
  padding: 80px 8%;
}

/* footer */

footer .flex {
  flex-direction: column;
}

footer .line-footer {
  text-align: center;
}

footer {
  padding: 80px 8%;
}
